<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.wuyang.myweather"
    android:installLocation="preferExternal" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="647e2ccbce57dcdbe265850881d22bf5" />

        <service android:name="com.amap.api.location.APSService" >
        </service>

        <activity
            android:name="com.app.wuyang.myweather.activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.app.wuyang.myweather.activity.DetailActivity"
            android:label="@string/detail_name"/>
        <activity
            android:name="com.app.wuyang.myweather.activity.DrawerFragmentActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".activity.AboutActivity"/>

        <activity
            android:name="com.app.wuyang.myweather.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.app.wuyang.myweather.receiver.WeatherReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="WEATHER_RECEIVER_NOTIFICATION" />
                <action android:name="WEATHER_RECEIVER_NO_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <service android:name="com.app.wuyang.myweather.service.WeatherService" />
        <service android:name="com.app.wuyang.myweather.service.TimerService" />


    </application>

</manifest>
